.streak {
    width: 80%;
    text-align: center;
}

.user-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

h1 {
    font-family: 'Roboto Slab', serif;
}