body {
font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    background-color: #84c8b9
}

.app-header {
    background-image: URL('./phitnessnationheader.png');
    background-size: 120%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: #313b47;
    padding-top: 5%;
    width: 100%;
    padding-right: 5%;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.alignRight {
    text-align: right;
}

.workout-preview {
    padding: 5%;
}

.workout-preview-btns {
    display: flex;
    justify-content: space-around;
}

